html, body {
	overflow-x:hidden;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin:0;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
ul,ol,p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom:15px;
}
.color-white {
	color:#fff;
}
li {
	list-style:none;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
:focus {
	outline:0;
}
a {
  background-color: transparent;
  text-decoration:none;
}
a:active,
a:hover {
  outline: 0;
  text-decoration:none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2.title {
	position:relative;
	margin:0 auto 20px auto;
	color:#212121;
	text-align:center;
	font-weight:normal;
}
h2.title strong {
	font-weight:600;
}
h2.title:after {
	content:'';
	position:absolute;
	left:0;
	right:0;
	width:7.5%;
	margin:0 auto;
	bottom:-3px;
	border-bottom:solid 1px #F37351;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
	width:100%;
    vertical-align: middle;
    border-style: none;
}
.ads img {
	display: block;
	border-radius: 2px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.08);
    overflow: hidden;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.42857143;
  color: #212121;
  background-color:#f6f2fa;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.p-t-color {
	color: #F37351;
}
a, a:active, a:hover, a:focus{
  /*color: #F37351;*/
  color:#4E5255;
  text-decoration: none;
}
/*a:hover, a:active, a:focus {
 {
  color: #e61d3a;
  text-decoration:none;
}*/
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
:focus {
	outline: 0;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.left {
	float:left;
}
.right {
	float:right;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1600px;
  background-color: #ffffff;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
.clear{
	clear:both;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	content: " ";
	display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
	clear: both;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.hidden {
	display: none !important;
}
.affix {
	position: fixed;
}
.section {
	/*padding-top:30px;
	padding-bottom:30px;*/
	box-sizing:border-box;
}
.m-l-r {
	margin-left:15px;
	margin-right:15px;
}
.m-l {
	margin-left:15px;
}
.m-r {
	margin-right:15px;
}
.m-t-b {
	margin-top:15px;
	margin-bottom:15px;
}
.m-t {
	margin-top:15px;
}
.m-b {
	margin-bottom:15px;
}
.no-mar {
	margin:0;
}
.p-l-r {
	padding-left:15px;
	padding-right:15px;
}
.p-l {
	padding-left:15px;
}
.p-r {
	padding-right:15px;
}
.p-t-b {
	padding-top:15px;
	padding-bottom:15px;
}
.p-t {
	padding-top:15px;
}
.p-b {
	padding-bottom:15px;
}
.no-pad {
	padding:0;
}
.off-cat-item {
	padding-left:15px;
	padding-right:15px;
}
.off-cat-item > div {
	padding:5px;
}
::-webkit-input-placeholder {color: #ccc;}
:-ms-input-placeholder {color: #ccc;}
::placeholder {color: #ccc;}
.text-center {
    text-align: center!important;
}
/* ////////////// Scroll Top /////////////*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.scroll-Top {
	width:45px;
	height:45px;
	padding:10px;
	text-align:center;
	font-weight: bold;
	font-size:20px;
	text-decoration: none;
	position:fixed;
	bottom:15px;
	right:15px;
	display:none;
	box-sizing:border-box;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	z-index:9;
	background-color: rgba(252,80,105,75);
	color: #fff;
	transform: rotate(90deg);
}
.scroll-Top:active, .scroll-Top:focus, .scroll-Top:hover {
	color: #fff;
	background:rgba(252,80,105,95);;
}
/* ////////////// Scroll Top End /////////////*/
.form-group {
	position: relative;
	margin-bottom: 1.5rem;
}
input.form-control {
	width: 100%;
    padding: 8px 5px 6px 5px;
    font-size: 1.3rem;
	border:0;
	color:#222;
    border-bottom: solid 1px #ddd;
	box-shadow: none;
	-webkit-transition: all ease-in-out .15s;
	-o-transition: all ease-in-out .15s;
	transition: all ease-in-out .15s;
	background:none;
	position:relative;
	z-index:1;
}
.form-control:focus {
	-webkit-transition: all ease-in-out .15s;
	-o-transition: all ease-in-out .15s;
	transition: all ease-in-out .15s;
	border-bottom:solid 1px #4E5255;
}
.form-control-placeholder {
	position: absolute;
	top: 5px;
	padding: 5px 0 0 5px;
	transition: all 200ms;
	opacity: 0.35;
}
.form-control:active + .form-control-placeholder, .form-control:valid + .form-control-placeholder {
	color:#aaaaaa;
	font-size: 70%;
    padding-bottom: 3px;
    padding-left: 3px;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}
/*.form-control:valid + .form-control-placeholder {
	color:#F37351;
	font-size: 70%;
    padding-bottom: 3px;
    padding-left: 3px;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}*/
.btn-primary {
	background: #F37351;
	border: 0;
	margin: 0 5px;
	font-size: 14px;
	padding: 10px 20px;
	color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,.25);
	transition: all 0.5s ease 0s;
}
.btn-primary:hover {
	background:#de223d;
}
.btn-secondary {
    background: #ffffff;
    border: solid 1px #F37351;
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #F37351;
    border-radius: 3px;
    width: auto;
    transition: all 0.5s ease 0s;
}
.btn-secondary:hover {
	background: #F37351;
	border: solid 1px #F37351;
	color: #ffffff;
}
.btn-secondary.small {
	font-size:90%;
	padding:5px 10px;
}
.btn-secondary.small i {
	font-weight:600;
	font-size:130%;
	position:relative;
	top:2px;
	padding-right:5px;
}
.page-wrapper {
	padding:20px;
	box-sizing:border-box;
}
.breadcrumb {
    padding: 0 10px 10px 10px;
    margin-bottom: 5px;
    list-style: none;
	font-size:10px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #b3b9bd;
    content: "/";
}
.breadcrumb > li > a {
    color: #F37351;
    text-decoration: none;
}
.breadcrumb > li > a:hover {
    text-decoration: underline;
}
.breadcrumb > li > span {
    color: #4E5255;
}


/*###### privacy policy ######## */
.body-wrapper {
  padding-top:100px;
  padding-bottom: 100px;
  background: #FFF;
}
.body-wrapper p{
  padding: 20px 0 0 0;
  font-size: 14px;
  line-height: 25px;
  
}
.body-wrapper h2{
  font-size: 20px;
  padding-top: 10px;
  margin-bottom:0px;
}
.body-wrapper h5{
  padding-top: 30px;
  margin-bottom:0px;
  font-size: 16px;
}
ul{
  padding-top:5px;
}
ul li {
  padding: 5px 0 0 20px;
  font-size: 14px;
  line-height: 25px;
}