header {
	position:fixed;
	width:100%;
	height:70px;
	top:0;
	background:rgba(255,255,255,.95);
	z-index:9;
	border-bottom:1px #eee solid;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
header .container-fluid {
	background:none;
}
header .logo {
	max-width: 175px;
    max-height: 50px;
	margin:10px 10px 10px 0;
}
header .logo a{
	width: 100%;
    max-height: 50px;
    display: block;
}
header .logo img {
	width:100%;
	height:auto;
}
header .city-selector {
	margin:15px 10px;
}
header .city-selector select {
	border-radius:20px;
	padding:8px 10px;
	color: rgba(0,0,0,1);
	box-sizing:border-box;
	border:solid 1px #ddd;
}
header .search-bar {
	margin:15px 10px;
	border:solid 1px #ddd;
	border-radius:20px;
	padding:5px 10px 5px 15px;
	box-sizing:border-box;
	min-width:300px;
	max-width:500px;
	width:100%;
}
header .search-bar input {
	border:0;
	background:none;
	width:calc(100% - 35px);
	height: 24px;
    padding: 0 5px;
    box-sizing: border-box;
}
header .search-bar button.btn-search {
	position:relative;
	border:0;
	background:none;
	width:32px;
	height:auto;
	display:inline-block;
}
i.divergent-search {
	position: relative;
	font-size:1.75rem;
	color:#F37351;
    top: 2px;
}
header .search-bar button.btn-search img, header .search-bar button.btn-search svg {
	width:100%;
	height:auto;
}
.user-info .login-info {
	width:50px;
	height:50px;
	margin:9px 0 9px 10px;
	border-radius:50%;
	overflow:hidden;
	background:#f0f0f0;
	padding:9px;
	box-sizing:border-box;
}
.user-info .login-info i.divergent-user {
	font-size:32px;
	color:#ccc;
}
